{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Title -->
<title>Site Yönetim Sistemi</title>
<!-- Favicons -->
<link rel="shortcut icon" href="{% static 'img/favicon1.png' %}">
<link rel="apple-touch-icon" href="{% static 'img/favicon1.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon1.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon1.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon1.png' %}">

<!-- Google Web Fonts (Bu kalsın çünkü dış bağlantı) -->
<link href="https://fonts.googleapis.com/css?family=Poppins:600,700" rel="stylesheet">

<!-- CSS Styles -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<!-- CSS Theme -->
<link id="theme" rel="stylesheet" href="{% static 'css/themes/theme-green.min.css' %}" />
<style>
  .blockquote.blockquote-primary p:after {
    border-color: transparent #8B0000 transparent transparent !important;
  }
</style>

</head>
<body class="header-vertical">
    <div id="page-loader" class="bg-dark dark">
        <svg class="loader" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle" fill="none" stroke-width="2" stroke-linecap="round" cx="16" cy="16" r="14"></circle>
        </svg>
    </div>

    <header id="header" class="bg-dark dark">
        <a class="logo"  style="padding: 0;">
            <img src="{% static 'img/logo.png' %}" style="max-height: 220px;">
        </a>
        <nav id="main-menu">
            <div class="nav-wrapper">
                <ul class="nav nav-primary">
                    <li><a href="{% url 'panel_sakin_static' %}" class="active"><i class="li-home"></i>Ana Sayfa</a></li>
                    <li><a href="/sakin-aidat-takip/"><i class="li-moneybag"></i>Aidat Takibi</a></li>
                    <li><a href="{% url 'duyuru_k' %}"><i class="li-bell"></i>Duyurular</a></li>
                    <li><a href="/randevu/"><i class="li-clock"></i>Randevu Alma</a></li>
                    <li><a href="/istek_sikayet_sakin/"><i class="li-email"></i>İstek & Şikayet</a></li>
                    <li><a href="/logout/" style="pointer-events: auto;"><i class="li-arrow6"></i> Çıkış Yap</a></li>
                </ul>
            </div>
            <span class="selector"></span>
        </nav>
    </header>
    <!-- Header / End -->

    <!-- Content -->
    <div id="content">
        <section class="section text-xs-center">
            <div class="container container-sm">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-4">Sakin Paneli</h1>
                    </div>
                </div>
                <div class="card mt-4 mb-70" style="border: none;"> 
                  <h5 style="left: 0;">Aidat Uyarıları</h5>                   
                    <div class="card-body">
                      {% if uyarilar %}
                        <div class="blockquotes mb-4">
                          <blockquote class="blockquote blockquote-primary animated" data-animation="fadeInLeft">
                            <p>{{ uyarilar.0.mesaj }}</p>
                            <footer>
                              <img src="assets/img/png-yonetici.png" alt="">
                              <span class="name">Site Yönetecisi
                                <span class="text-muted"> {{ uyarilar.0.olusturma_tarihi|date:"d.m.Y H:i" }}</span>
                              </span>
                            </footer>
                          </blockquote>
                        </div>
                      {% else %}
                        <p>Henüz bir uyarınız yok.</p>
                      {% endif %}
                    </div>
                </div>
                <div class="container-fluid container-custom mt-4">
                  <h3 class="mb-4">Bilgilendirmeler</h3>                
                  <div class="row mb-4">
                    <div class="col-md-6 mb-4">
                      <!-- Feature -->
                      <div class="card feature feature-1 animated text-center" data-animation="fadeIn">
                        <span class="icon icon-primary icon-lg"><i class="li-moneybag" style="font-size: 40px;"></i></span>
                        <h5 class="mb-0">Aidat Ödeme Bilgilendirmesi</h5>
                        <span class="text-muted">Aidatlarınızı her ayın sonuna kadar ödemeniz gerekmektedir.</span>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <!-- Feature -->
                      <div class="card feature feature-1 animated text-center" data-animation="fadeIn" data-animation-delay="400">
                        <span class="icon icon-primary icon-lg"><i class="li-bell" style="font-size: 40px;"></i></span>
                        <h5 class="mb-0">Duyurular</h5>
                        <span class="text-muted">Son gelişmeler için sık sık duyurular sayfasını ziyaret edin.</span>
                      </div>
                    </div>  
                  </div>
                
                  <div class="row mb-4">
                    <div class="col-md-6 mb-4">
                      <!-- Feature -->
                      <div class="card feature feature-1 animated text-center" data-animation="fadeIn" data-animation-delay="200">
                        <span class="icon icon-primary icon-lg"><i class="li-clock" style="font-size: 40px;"></i></span>
                        <h5 class="mb-0">Randevu Hatırlatması</h5>
                        <span class="text-muted">Randevularınızı bir gün önceden kontrol edin. Katılamayacaksanız lütfen oluşturmayın.</span>
                      </div>
                    </div>
                
                    <div class="col-md-6 mb-4">
                      <!-- Feature -->
                      <div class="card feature feature-1 animated text-center" data-animation="fadeIn" data-animation-delay="600">
                        <span class="icon icon-primary icon-lg"><i class="li-email" style="font-size: 40px;"></i></span>
                        <h5 class="mb-0">İstek / Şikayet Bildirimi</h5>
                        <span class="text-muted">Site ile ilgili öneri ya da şikayetlerinizi buradan iletebilirsiniz. Tüm geri bildirimler dikkate alınacaktır.</span>
                      </div>
                    </div>
                  </div>
                  
            </div>  
        </section>
    </div>
    <!-- Content / End -->
    <!-- Mobile Navigation Toggle -->
    <div id="mobile-nav-toggle" class="header-dark"><span></span><span></span><span></span></div>

    <!-- JS Libraries -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

    <!-- JS Plugins -->
    <script src="{% static 'js/plugins.js' %}"></script>

    <!-- JS Core -->
    <script src="{% static 'js/core.js' %}"></script>
</body>
</html> 